<div class="content">

  <h2>Pirates</h2>

  <div>  
    <p>
      A pirate is, broadly speaking, any professional criminal that operates wholly or partially on the world's seas,
      especially people conducting robbery by ship. In most, if not all, cases they lead or belong to a group 
      of like-minded criminals, known as a crew.
    </p>
    <br>
    <p>
      Though not the only existing type of criminal, pirates appear to comprise most of the world's significant bounty heads, 
      and—with the possible exception of the Revolutionary Army—constitute the strongest opposition to the authority of 
      the World Government and Marines.
    </p>
  
  </div>


  <div class="container">
    

      <h2>Pirates Crew Form</h2>
      <form #pirateCrewForm="">
        <div class="form-group">
          <label for="crewname">Crew Name</label>
          <input type="text" class="form-control" id="crewname"
                 required>        
        </div>

        <div class="form-group">
          <label for="captainname">Captain Name</label>
          <input type="text" class="form-control" id="captainname"
                 required>
        </div>
  
        <div class="form-group">
          <label for="captain_rank">Captain Rank</label>
          <select class="form-control" id="captain_rank"
                  required>
            <option *ngFor="let rank of captain_rank" [value]="rank">{{rank}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="shipname">Ship Name</label>
          <input type="text" class="form-control" id="shipname"
                 required>
        </div>

        <div class="form-group">
          <label for="totalmembers">Total Members</label>
          <input type="number" class="form-control" id="totalmembers"
                 required>
        </div>
  
        <!-- <button type="button" class="btn btn-success" 
        [disabled]="!pirateCrewForm.form.valid" 
        (click)="add(crewname.value); crewname.value=''">
        Add Pirate Crew</button> -->
  
      </form>
    

    <h2>Pirates Crew</h2>
    <ul class="pirate_crew">
      </ul>
     
  </div>
</div>
