<div class="main-content">
  <div class="mat-elevation-z8">
    <div class="content">
      <div>
        <h1>Pirates</h1>
      </div>
      <p>
        A pirate is, broadly speaking, any professional criminal that operates wholly or partially on the world's seas,
        especially people conducting robbery by ship. In most, if not all, cases they lead or belong to a group
        of like-minded criminals, known as a crew.
      </p>
      <br>
      <p>
        Though not the only existing type of criminal, pirates appear to comprise most of the world's significant bounty
        heads,
        and—with the possible exception of the Revolutionary Army constitute the strongest opposition to the authority
        of
        the World Government and Marines.
      </p>
      <h2>Pirates</h2>
    </div>
    <div class="filterBar">
      <mat-form-field>
        <input matInput type="text" placeholder="Filter" (keyup)="doFilter($any($event).target.value)" />
      </mat-form-field>
      <button mat-mini-fab color="primary" (click)="createPirateCrew()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <table class="listtable" mat-table [dataSource]="dataSourceCrew" matSort>


      <ng-container matColumnDef="crewName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Crew Name</th>
        <td mat-cell *matCellDef="let element">{{ element.crewName }}
          <mat-list *ngFor="let pirate of dataSourcePirates">
            <mat-list-item *ngIf="pirate.crewId===element.crewId"> {{pirate.pirateName}}
            </mat-list-item>
          </mat-list>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <a class="iconbutton" [routerLink]="['/pirates', element.crewId]" mat-icon-button>
            <mat-icon color="primary">edit</mat-icon>
          </a>
          <button class="iconbutton" mat-icon-button>
            <mat-icon color="warn" (click)="deleteCrew_Pirates(element.crewId)">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsCrew"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsCrew"></tr>

    </table>
  </div>
</div>