<div class="main-content">
  <div class="mat-elevation-z8">
    <mat-card>
      <mat-card-content>
        <form class="pirateform row" [formGroup]="pirateCrewDetailForm">
          <mat-form-field class="width_50" appearance="fill">
            <mat-label>Pirate Crew Name</mat-label>
            <input matInput required formControlName="crewName" />
            <mat-error *ngIf="pirateCrewDetailForm.get('crewName')?.errors">
              {{ showErrorMessage("crewName") }}
            </mat-error>
          </mat-form-field>
          <!-- <br><br> -->
          <mat-form-field class="width_50" appearance="fill">
            <mat-label>Captain Name</mat-label>
            <input matInput required formControlName="captainName" />
            <mat-error *ngIf="pirateCrewDetailForm.get('captainName')?.errors">
              {{ showErrorMessage("captainName") }}
            </mat-error>
          </mat-form-field>
          <!-- <br><br> -->
          <mat-form-field class="width_50" appearance="fill">
            <mat-label>Ship Name</mat-label>
            <input matInput required formControlName="shipName" />
            <mat-error *ngIf="pirateCrewDetailForm.get('shipName')?.errors">
              {{ showErrorMessage("shipName") }}
            </mat-error>
          </mat-form-field>
          <!-- <br><br> -->
          <mat-form-field class="width_50" appearance="fill">
            <mat-label>Total Members</mat-label>
            <input type="number" matInput required formControlName="totalMembers" />
            <mat-error *ngIf="pirateCrewDetailForm.get('totalMembers')?.errors">
              {{ showErrorMessage("totalMembers") }}
            </mat-error>
          </mat-form-field>
        </form>
        <button style="margin-left: 10px;" mat-flat-button color="primary"
          [disabled]="!pirateCrewDetailForm.valid || !pirateCrewDetailForm.dirty" (click)="saveFormCrew()">Save
        </button>
        <!-- <form class="pirateform" [formGroup]="piratesDetailForm">
          <mat-form-field appearance="fill">
            <mat-label>Pirate Crew</mat-label>
            <mat-select (change)="changePirateCrew($event)" formControlName="crewId">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let pc of pirateCrews" [value]="pc.crewId">
                {{ pc.crewName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form> -->
        <div class="mat-elevation-z4 question-list-section">
          <div class="filterBar">
            <mat-form-field>
              <input matInput type="text" placeholder="Filter" (keyup)="doFilter($any($event).target.value)" />
            </mat-form-field>
            <button mat-mini-fab color="primary" [disabled]="!pirateCrewDetailForm.valid || !addPirate"
              (click)="saveFormPirate()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <table class="listtable" mat-table [dataSource]="dsPirates" matSort>
            <ng-container matColumnDef="pirateName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Pirate Member Name
              </th>
              <td mat-cell *matCellDef="let element">{{ element.pirateName }}</td>
            </ng-container>
            <ng-container matColumnDef="pirateOccupation">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Pirate Occupation
              </th>
              <td mat-cell *matCellDef="let element">{{ element.pirateOccupation }}</td>
            </ng-container>
            <ng-container matColumnDef="pirateStatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Pirate Status
              </th>
              <td mat-cell *matCellDef="let element">{{ element.pirateStatus }}</td>
            </ng-container>
            <ng-container matColumnDef="pirateBounty">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Pirate Bounty in Berries
              </th>
              <td mat-cell *matCellDef="let element">{{ element.pirateBounty }}</td>
            </ng-container>
            <ng-container matColumnDef="pirateDevilFruit">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Pirate Devil Fruit
              </th>
              <td mat-cell *matCellDef="let element">{{ element.pirateDevilFruit }}</td>
            </ng-container>
            <ng-container matColumnDef="piratePowers">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Pirate Powers
              </th>
              <td mat-cell *matCellDef="let element">{{ element.piratePowers }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element">
                <a class="iconbutton" (click)="editPirate(element.pirateId)" mat-icon-button>
                  <mat-icon color="primary">edit</mat-icon>
                </a>
                <button class="iconbutton" mat-icon-button>
                  <mat-icon color="warn" (click)="deletePirate(element.pirateId)">delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
          </table>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-flat-button (click)="closeForm()">Cancel
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>