<div class="main-content">
    <div class="mat-elevation-z8">
        <mat-card>
            <mat-card-content>
                <form class="pirateform" [formGroup]="piratesDetailForm">
                    <mat-form-field appearance="fill">
                        <mat-label>Pirate Name</mat-label>
                        <input matInput required formControlName="pirateName" />
                        <mat-error *ngIf="piratesDetailForm.get('pirateName')?.errors">
                        {{ showErrorMessage("pirateName") }} 
                        </mat-error>
                    </mat-form-field>
                    <br><br>
                    <mat-form-field appearance="fill">
                        <mat-label>Pirate Crew</mat-label>
                        <mat-select
                          (change)="changePirateCrew($event)"
                          formControlName="crewId"
                        >
                          <mat-option>None</mat-option>
                          <mat-option 
                            *ngFor="let pc of pirateCrews"
                            [value]="pc.crewId"
                          >
                            {{ pc.crewName }}                             
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button 
                  (click)="closeForm()">Cancel
                </button>
                <button style="margin-left: 10px;" 
                  mat-flat-button 
                  color="primary" 
                  [disabled]="!piratesDetailForm.valid || !piratesDetailForm.dirty"
                  (click)="saveForm()">Save
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
              