<div class="main-content">
    <div class="mat-elevation-z8">
        <div class="content">
            <h1>Marines</h1>
            <div>
                <p>
                    The Marines are the World Government's military sea force, t
                    asked with law enforcement, international security,
                    and military operations. They are present in all the seas around the world,
                    as evidenced by their branch offices. However, the main focus of their assets
                    is on the far more dangerous Grand Line.
                </p>
                <br>
                <p>
                    The Marines are one of the Three Great Powers in the world,
                    alongside the Four Emperors and the Seven Warlords of the Sea,
                    who were later replaced by the SSG.
                </p>
            </div>
        </div>
    </div>
</div>