<div class="main-content">
  <div class="mat-elevation-z8">
    <mat-card>
      <mat-card-content>
        <form class="pirateform" [formGroup]="pirateCrewDetailForm">
          <mat-form-field class="width_50" appearance="fill">
            <mat-label>Pirate Crew Name</mat-label>
            <input matInput required formControlName="crewName" />
            <mat-error *ngIf="pirateCrewDetailForm.get('crewName')?.errors">
              {{ showErrorMessage("crewName") }}
            </mat-error>
          </mat-form-field>
          <!-- <br><br> -->
          <mat-form-field class="width_50" appearance="fill">
            <mat-label>Captain Name</mat-label>
            <input matInput required formControlName="captainName" />
            <mat-error *ngIf="pirateCrewDetailForm.get('captainName')?.errors">
              {{ showErrorMessage("captainName") }}
            </mat-error>
          </mat-form-field>
          <!-- <br><br> -->
          <mat-form-field class="width_50" appearance="fill">
            <mat-label>Ship Name</mat-label>
            <input matInput required formControlName="shipName" />
            <mat-error *ngIf="pirateCrewDetailForm.get('shipName')?.errors">
              {{ showErrorMessage("shipName") }}
            </mat-error>
          </mat-form-field>
          <!-- <br><br> -->
          <mat-form-field class="width_50" appearance="fill">
            <mat-label>Total Members</mat-label>
            <input type="number" matInput required formControlName="totalMembers" />
            <mat-error *ngIf="pirateCrewDetailForm.get('totalMembers')?.errors">
              {{ showErrorMessage("totalMembers") }}
            </mat-error>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button (click)="closeForm()">Cancel</button>
        <button style="margin-left: 10px;" mat-flat-button color="primary"
          [disabled]="!pirateCrewDetailForm.valid || !pirateCrewDetailForm.dirty" (click)="saveForm()">Save</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>