<div class="main-content">
    <div class="mat-elevation-z8">
        <div class="content">
            <h2>Revolutionary Army</h2>
            <div>
                <p>The Revolutionary Army is an extremely powerful military organization, founded and led by Monkey D. Dragon.
                </p>
                <br>
                <p>They are the only force in the world that directly opposes the World Government and seek to dismantle it. 
                    They are particularly against the World Nobles of Mary Geoise who control and benefit from the corruption 
                    of the World Government.
                </p>
                <br>
                <p>Their former base of operations was the island of Baltigo, but after an intensive battle with the Blackbeard Pirates, 
                    they relocated to Momoiro Island also known as Kamabakka Kingdom.
                </p>
            </div>
        </div>
    </div>
</div>
