
    
<mat-sidenav-container class="">
  <mat-sidenav class="sidenav" mode="side" opened>
    <div style="text-align: center;">
      <a class="navbar-brand" routerLink="/" >
        <img
          width="100"
          alt="One Piece Logo"
          src="https://th.bing.com/th/id/R.816c79d251726a0de313011309281a74?rik=3GnIkyeMN6EPdg&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fone-piece-png-one-piece-logo-png-photos-639.png&ehk=KGdG%2bVI0dIS1mTrW5TkYYBhvoO5a%2fjiW8Y%2bSnmAaXMg%3d&risl=&pid=ImgRaw&r=0"
        />
      </a>
    </div>
   
    <div class="nav-item" routerLink="/" routerLinkActive="active">
      <h3>Home</h3>
    </div>
    <div class="nav-item" routerLink="/marines" routerLinkActive="active">
      <h3>Marines</h3>
    </div>
    <div class="nav-item" routerLink="/pirates" routerLinkActive="active">
      <h3>Pirates</h3>
    </div>
    <div class="nav-item" routerLink="/revolutionary-army" routerLinkActive="active">
      <h3>Revolutionary Army</h3>
    </div>   
    
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span> Love One Piece?&nbsp;
            <a href="https://twitter.com/OnePieceAnime" target="_blank" rel="noopener"> Tweet about us.
            </a></span>
        <span class="text-muted">&copy; 2022</span>
      </div>
    </footer>

