.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 160px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  .sidenav-image{
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
  }
.nav-item{
  cursor: pointer;
  background-color: rgba(225, 228, 234, 0.514);
  font-size: 16px;
  margin: 5px;
  height: 40px;
  color: rgb(226, 69, 69);
}
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  