
<div class="content">

    <h2 style="color: #b41111;">One Piece</h2>
    <h5 style="color: #352ec7;">One Piece, DOES EXISTS!</h5>
    <p>One Piece is a Japanese manga series written and illustrated by Eiichiro Oda.
       It has been serialized in Shueisha's shōnen manga magazine Weekly Shōnen Jump since July 1997, 
       with its individual chapters compiled into 102 tankōbon volumes as of April 2022. 
       The story follows the adventures of Monkey D. Luffy, a boy whose body gained the properties of rubber
        after unintentionally eating a Devil Fruit. With his pirate crew, the Straw Hat Pirates, 
        Luffy explores the Grand Line in search of the world's ultimate treasure known as 
        the "One Piece" in order to become the next King of the Pirates.</p>
  
    <div class="card-container">
      <button class="card" type="button" label="buttonMarines" (click)="marinesDisplay()"><span>Marines</span>
      </button>
          
      <button class="card" type="button" label="buttonPirates" (click)="piratesDisplay()"><span>Pirates</span>
      </button>
  
      <button class="card" type="button" label="buttonRArmy" (click)="rArmyDisplay()"><span>Revolutionary Army</span>
      </button>      
  
      
  
    </div>
  
    <div>
      <marines [displayMarines] ="displayVarMarines"></marines>
      <pirates [displayPirates] ="displayVarPirates"></pirates>
      <revolutionary-army [displayRevolutionaryArmy] ="displayVarRArmy"></revolutionary-army>
    </div>
  
  
  </div>
  
  